<div class="tabbable tabs-below" id="content">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#A" data-toggle="tab">Next Games</a></li>
    <li class=""><a href="#B" data-toggle="tab">All MLB</a></li>
    <li class=""><a href="#C" data-toggle="tab">All NBA</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="A">
      <%= render :partial => "events/all_games", :locals =>  { :events => @all_games } %>
    </div>
    <div class="tab-pane" id="B">
      <%= render :partial => "events/all_nba", :locals =>  { :events => @all_nba } %>
    </div>
    <div class="tab-pane" id="C">
      <%= render :partial => "events/all_nba", :locals =>  { :events => @all_mlb } %>
    </div>
  </div>
</div>
