<div class="tabbable tabs-below" id="content">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#A" data-toggle="tab">All MLB</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="A">
      <%= render :partial => "events/all_mlb", :locals =>  { :events => @events } %>
    </div>
  </div>
</div>
