<div id="content" class="fluid">
  <div class="left aleft">
    <h2>Premium Sports Picks</h2>
    <h5><u>Record</u></h5>
    <div class="text">
        Last 7 Days: 14 Wins 6 Losses <br/>
        Overall Last 30 Days: 60 Wins 25 Loses (66%) <br/>
        This Season <br/>
        NBA: 65 Wins 36 Loses <br/>
        College FB: 104 Wins 50 Loses <br/>
        NFL: 64 Wins 28 Loses 
    </div>
  </div> 
  <div class="left aleft" id="sign_up_form">
    <h2>Sign up - It's 100% Free</h2>    
    <form action="#" class="aright" id="login_form" class="text">
      <div class="box aleft">
        <span>First Name:</span><br/><input type="text" id="f_name" name="f_name" value=""/>
      </div>
      <div class="box aleft">
        <span>Last Name:</span><br/><input type="text" id="l_name" name="l_name" value=""/>
      </div>
      <div class="clear"></div>
      <div class="box aleft">
        <span>Email:</span><br/><input type="text" id="email" name="email" value="" class="big_input" />
      </div>
      <div class="clear"></div>
      <div class="box aleft">
        <span>Confirm Email:</span><br/><input type="text" id="c_email" name="c_email" value="" class="big_input" />
      </div>
      <input type="submit" value="Sign up" class="login" onclick="return false;" style="margin-top:0" />
    </form>
  </div> 
  <div class="clear"></div>
  <div>
      <h2>Who Are We?</h2>
      <div class="text">
        <p>We are a group of sports fans who have come together and found a way to consistently make a profit from sports betting. We are a mix of Computer Engineers as well as sports handicappers who come up with our own numbers and then handicaping them ourselves. We do Basketball, Baseball and Football.</p>
      </div>
  </div>
  <div>
      <h2>Why Free?</h2>
      <div class="text">
        <p>We offer premium picks for free because we invest in the exact same games that we provide. Our wager sizes vary anywhere from $1,000 - $5,000 depending on the sport.</p>
      </div>
  </div>
    <div>
      <h2>How We Have Become So Successful?</h2>
      <div class="text">
        <p>Around the 80's, their was a successful sports investesting team called "The Computer Group". They used computer algorithms to get a better line then Vegas had and consistently beat them. You can Google them for more information. More recently Bob Voulgaris (Google him as well), has made millions by using a computer algorithm as well as handicapping (ESPN did an article on him). What we did was similar, we hired programmers and did the handicapping ourselves.</p>
      </div>
  </div>
</div>  