<ul class="main-nav">
  <div class="menu-menu-1-container">
    <ul id="menu-menu-1" class="menu">
      <li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-24"><a href="/">Home</a></li>
      <li id="menu-item-26" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-26"><a href="/events/nba/">NBA</a></li>
      <li id="menu-item-27" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-27"><a href="/espn_games">MLB</a></li>
<!--                 <li id="menu-item-773" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-773"><a href="http://www.sharpnation.com/ncaa-football-picks/">NCAA</a>
      <ul class="sub-menu">
        <li id="menu-item-1744" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1744"><a href="http://www.sharpnation.com/college-basketball/">College Basketball</a></li>
      </ul>
      </li>
-->                
      <li id="menu-item-1846" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1846"><a href="#">Premium Picks</a></li>
      <li id="menu-item-1114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1114"><a href="#">Write For Us</a></li>
    </ul>
  </div>
</ul><!--main-nav-->
<div id="nav-mobi">
  <div class="menu-menu-1-container">
    <select>
      <option value="#">Menu</option>
      <option value="http://www.sharpnation.com/" selected="">Home</option>
      <option value="http://www.sharpnation.com/nba/">NBA </option><option value="http://www.sharpnation.com/nba/nba-2014-playoffs/">-NBA 2014 Playoffs</option>

      <option value="http://www.sharpnation.com/mlb/">MLB</option>
      <option value="http://www.sharpnation.com/nfl/">NFL </option><option value="http://www.sharpnation.com/free-nfl-picks-against-the-spread">-Free NFL Picks</option>

      <option value="http://www.sharpnation.com/ncaa-football-picks/">NCAA  </option><option value="http://www.sharpnation.com/college-basketball/">-College Basketball</option>

      <option value="http://sharpnation.com/premium-pick.html">Premium Picks</option>
      <option value="http://www.sharpnation.com/become-writer/">Write For Us</option>
    </select>
  </div>
</div><!--nav-mobi-->

<div id="main-search">
  <form method="get" id="searchform" action="assets/Free Sports Picks -.html">
    <input type="text" name="s" id="s" value="Search" onfocus="if (this.value == &quot;Search&quot;) { this.value = &quot;&quot;; }" onblur="if (this.value == &quot;&quot;) { this.value = &quot;Search&quot;; }">
    <input type="hidden" id="search-button">
  </form>
</div><!--main-search-->